.form-control{
     display: inline-block; 
     height: 52px; 
    width: 100%;
    margin: 0 0 15px;
    padding: 1.0625em 2em;
     color: #30373b; 
    font-family: ShopifySans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-box-shadow: 0 0 0 1px #c4cdd5;
    box-shadow: 0 0 0 1px #c4cdd5;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    -moz-appearance: none;
    appearance: none;
}
input[type=text]:focus{
    border: 2px solid green!important;
    background-color: #edf0f5!important;
}

#label {
    margin-bottom: -50px;
    padding-left: 20px;
    padding-top: 2px;
    position: absolute;
    color: bold;
}
.form-control-input{
     display: inline-block; 
     height: 52px; 
    width: 100%;
    margin: 0 0 15px;
    padding: 3em 2em 0em 2em;
    padding-top:1em;
     color: #30373b; 
    font-family: ShopifySans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-box-shadow: 0 0 0 1px #c4cdd5;
    box-shadow: 0 0 0 1px #c4cdd5;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    -moz-appearance: none;
    appearance: none;
}
.addDeduction{
    position: relative;
  top: -8px;
   background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}
.marketing-button {
  padding: 10px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  margin-bottom: 1em;
}

.marketing-button:hover {background-color: #3e8e41}

.marketing-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn {
      background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #3e8e41;
}
.container-fluid{
    margin-top: 4em;
     background: #f4f6f8;
}
.headerContent{
    margin-top: 3em;
    margin-left: 5em;
    overflow: hidden;
    padding-bottom: 2em;
}
.left-side{
    float:left;
    width:50%;
}
.right-side{
    float: right;
    width:50%;
    text-align: right;
}
.image-right-side{
    margin-right: 3em;
}
.image-placeholder {
    background-color: #eee;
    display: flex;
    margin: 5px;
}

.image-placeholder > p {
    align-self: center;
    text-align: center;
    width: 100%;
    padding: 0.5em!important;
}
.stepStatus{
    float: right;
    margin-top: -1em!important;
}
.activedot{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 0.125em;
    border-radius: 50%;
    background-color: #5c6ac4;
}
.passivedot{
     width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 0.125em;
    border-radius: 50%;
    background-color: #dfe3e8;

}
@media screen and (min-width: 46.875em)
{
    .form-section-submit {
    float: right;
}
}